/* Lume's design system */
@import "https://unpkg.com/@lumeland/ds@0.5.2/ds.css";

/* Custom components */
@import "css/header.css";
@import "css/link.css";

body {
  display: grid;
  grid-template-columns: minmax(0, 500px);
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  text-align: center;
  padding: max(20px, 5vh) 20px;
  row-gap: 20px;
  justify-content: center;
  align-content: center;
}

main {
  align-self: center;
}

footer {
  font: var(--font-small);
  color: var(--color-dim);

  & > * {
    margin: 0;
  }

  & > * + * {
    margin-top: 1em;
  }

  a {
    color: inherit;
  }
}
